#h1 {
    font-size: 35px;
    color: rgb(20, 142, 241);
    border: dashed;
    background-color: black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}

#h4{
    font-size: 35px;
    color: rgba(243, 68, 14, 0.884);
    border: dashed;
    background-color: black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
}